@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  @include center;
}

#buttons {
  @include center;
}
div button {
  margin: 2%;
}
button {
  background-color: aqua;
}
#outerDiv {
  display: inline;
  width: 100%;
}
#outPut {
  display: inline-grid;
  padding-top: 2%;
  background-color: rgb(196, 196, 196);
  height: fit-content;
  width: 50%;
}
